@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .thumbnail img{
        width:100%;
        height: 300px;
    }


</style>

@using QuanLyBanHang.Models;
@model List<Product>

@section View_title{
    Danh sách sản phẩm
}


@if (Model.Count == 0)
{
    <h3>Không có sản phẩm</h3>
}
else
{
    <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col">
                    <div class="thumbnail">
                        <img src="~/Images/sp/@item.ProID/main_thumbs.jpg" alt="...">
                        <div class="caption">
                            <h4 class="text-warning">@item.ProName</h4>
                            <h4 class="text-danger">Giá: @string.Format("{0:N0}", item.Price)</h4>
                            <h4>Còn lại: @item.Quantity</h4>
                            @if (item.TinyDes.Length < 30)
                            {
                                <p>@item.TinyDes</p>
                            }
                            else
                            {
                                <p>@item.TinyDes.Substring(0,30)...</p>
                            }

                            <p>
                                <a href="#" class="btn btn-primary" role="button"><i class="fas fa-cart-plus"></i> Đặt mua</a>
                                <a href="@Url.Action("Detail","Product",new {id=@item.ProID })" class="btn btn-default" role="button">Chi tiết</a>
                            </p>
                        </div>
                    </div>
                </div>
            }    
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="?page=@(ViewBag.CurPage-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.Pages; i++)
            {
                if (ViewBag.CurPage == i)
                {
                    <li class="active"><a href="?page=@i">@i</a></li>
                }
                else
                {
                    <li><a href="?page=@i">@i</a></li>

                }
            }
                @*<li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>*@
            <li>
                <a href="?page=@(ViewBag.CurPage+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}
