@using QuanLyBanHang.Models;
@using QuanLyBanHang.Helpers;
@model List<CartItem>
@section View_title{
   Giỏ hàng của bạn
}
@section css{
    
<link href="~/Content/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
}
@section js{
    
<script src="~/Content/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.js"></script>
 <script type="text/javascript">
     $('.numeric').TouchSpin({
         min: 1,
         max: 50,
         verticalbuttons:true
     });
     $('.removeItem').on('click', function () {
         var id = $(this).data('proid');
         $('#txtRProId').val(id);
         $('#frmRemove').submit()
     });
     $('.updateItem').on('click', function () {
         var id = $(this).data('proid');
         $('#txtUProId').val(id);
         var q = $(this).closest('tr').find('.numeric').val();
         $('#txtUQ').val(q);

        $('#frmUpdate').submit()
     });
 </script>
}
@if (Model.Count == 0)
{
    <text>Không có sản phẩm trong giỏ hàng</text>

}
else{
    <form id="frmRemove" method="post" action="@Url.Action("Remove","Cart")">
        <input id="txtRProId"  type="hidden" name="proid"/>
    </form>
    <form id="frmUpdate" method="post" action="@Url.Action("Update","Cart")">
        <input id="txtUProId" type="hidden" name="proId" />
        <input id="txtUQ" type="hidden" name="quantity" />
        
    </form>


<div class="row">
    <div class="col-md-12">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th class="col-sm-4">Sản phẩm</th>
                    <th class="col-sm-2">Số lượng</th>
                    <th class="col-sm-2">Đơn giá</th>
                    <th class="col-sm-2">Thành tiền</th>
                    
                </tr>
            </thead>
            <tbody>
                @{ 
                    decimal total = 0;
                }
                @foreach(var cim in Model)
                {
                    total += cim.Product.Price * cim.Quantity;
                    <tr>
                        <td>@cim.Product.ProName</td>
                        <td class="text-center">@string.Format("{0:N0}", cim.Product.Price)</td>
                        <td class="text-center"><input class="numeric" type="text" value="@cim.Quantity"/></td>
                        
                        <td class="text-center">@string.Format("{0:N0}", (cim.Product.Price*cim.Quantity))</td>
                        <td>
                            <a class="btn btn-danger btn-xs removeItem" role="button" title="Xóa" href="javascript:;" data-proid="@cim.Product.ProID">
                                <i class="fas fa-times"></i>
                            </a>
                            <a href="javascript:;" role="button" title="Cập nhật" class="btn btn-primary btn-xs updateItem" data-proid="@cim.Product.ProID">
                                <i class="fas fa-check"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    
                    <td><h4>Tổng tiền: </h4></td>
                    <td class="text-danger" colspan="2">
                        <h4>@string.Format("{0:N0} VNĐ",total)</h4>
                    </td>

                </tr>
            </tfoot>
        </table>
        <form method="post" id="frmCheckout" action="@Url.Action("Checkout","Cart")">
            <div class="row">
                <div class="col-md-12">
                    <a href="@Url.Action("Index","Home")" class="btn btn-success" role="button">
                        <i class="fas fa-reply"></i> Tiếp tục mua hàng
                    </a>
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-check"></i> Thanh toán
                    </button>
                </div>
            </div>
        </form>
 
    </div>

</div>
              
}