@using QuanLyBanHang.Helpers;
@using QuanLyBanHang.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> 
    @RenderSection("css",false)
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><span class="text-danger">LISA</span> STORE <p style="font-style:italic;font-size:x-small" class="text-center">Life is smile always</p></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Danh mục <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                @*<form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>*@

                <ul class="nav navbar-nav navbar-right">
                    @if (CurrentContext.IsLogged() == false)
                    {
                        <li><a href="@Url.Action("Login","Account")"><i class="fas fa-user"></i> Đăng nhập</a></li>
                        <li><a href="@Url.Action("Register","Account")"><i class="fas fa-sign-in-alt"></i> Đăng ký</a></li>
                    }
                    else
                    {

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@CurrentContext.GetCurUser().f_Username<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Profile","Account")">Thông tin cá nhân</a></li>
                                    <li><a id="logoutLink" href="javascript:;">Thoát</a></li>
                                </ul>
                            </li>
                    }                               
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <form id="frmLogout" action="@Url.Action("Logout","Account")" method="post"></form>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Danh mục</div>
                    @Html.Action("List","Category")
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Hãng sản xuất</h3></div>
                    <div class="panel-body">Panel content</div>
                </div>
            </div>
  
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">@RenderSection("view_title")</div>
                    <div class="panel-body">@RenderBody()</div>
                </div>
            </div>
            
        </div>
    </div>
    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#logoutLink').on('click',function(){
            $('#frmLogout').submit();
        });
    </script>
    @RenderSection("js",false)

</body>
</html>
